<!doctype HTML>
<html>
    <head>
        <title>LookingForGuild | {% block title %}{{ request.game.name }} Guild Recruitment{% endblock %}</title>
        {% block js %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
        {% endblock %}
        {% block css %}
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block endbody %}{% endblock %}
    </body>
</html>
